body{
    background-color: grey;
}
.header-box{
    color: maroon;
    font-size: 25px;
    font-style: italic;
    font-weight: 900;
    border: 5px solid red;
    border-radius: 10px;
    width: 300px;
    padding: 20px 40px;
    font-weight: bolder;
    text-align: center;
    line-height: 35px;
    box-shadow: 5px 5px black ;
    text-shadow: 2px 2px 5px;
    position: relative;
    left: 35%;
    background-color: white;
}
.main-body{
    border: 10px solid maroon;
    padding: 5px;
    height: 700px;
}
.box{
    border: 7px solid red;
    width: 230px;
    background-color: white;
    height: 250px;
    border-radius: 15px;
    text-shadow: 2px 2px 5px black;
    box-shadow: 5px 5px rgb(4, 106, 139);
}
.address{
    position: absolute;
    top: 33%;
    text-align: center;
    font-size: 25px;
    line-height: 55px;
    font-weight: bolder;
}
.address-text{
    margin-top: 10px;
}
.image{
    position: absolute;
    left: 75%;
    top: 33%;
    text-align: center;
}
.grocery-image{
    margin-top: 50px;
    border: 2px solid black;
}
.third{
    position: absolute;
    top: 95%;
    font-size: 25px;
    font-weight: bolder;
    text-shadow: 2px 2px 5px black;
}
.fourth{
    position: absolute;
    text-align: center;
    left: 75%;
    top: 95%;
}
.Rating-input{
    text-align: center;
}
.submit{
    background-color: hotpink;
    border-radius: 25px;
}
.footer{
    width: 700px;
    background-color: rgba(2, 202, 2, 0.658);
    border: 10px solid darkblue;
    text-align: center;
    margin-left: 318px;
}
.items{
    width: 345px;
    height: 260px;
    border: 1px solid black;
    display: inline-block;
    background-color: hotpink;
    line-height: 30px;
    font-style: italic;
}
.fruit{
    position: relative;
    top: -20px;
    right: 180px;
}
.veg{
    position: relative;
    right: 0px;
}
.other{
    position: relative;
    top: -20px;
    right: 180px;
    width: 707px;
}
.offer-sticky{
    border: 7px solid red;
    background-color: rgb(156, 255, 8);
    border-radius: 15px;
    color: rgb(177, 5, 5);
    box-shadow: 5px 5px rgba(23, 190, 190, 0.61);
    font-style: italic;
    text-align: center;
    top: 480px;
    left: 380px;
    width: 500px;
    height: 100px;
    position: fixed;
}
.left{
    float: left;
    width: 300px;
    font-size: 25px;
    padding-top: 20px;
    font-weight: bold;
}
.right{
    font-size: 20px;
    padding-top: 18px;
    font-weight: bold;
}