h1{
    color: green;
}
p{
    font-size: 33px;
    font-family: serif;
    font-weight: 400;
    font-style: italic;
    text-decoration: line-through;
    text-align: left ;
    text-transform: uppercase;
    background-color: tomato;
    text-decoration: underline;
    text-decoration-color: darkblue;
    text-decoration-line: overline;
    text-decoration-style: double;
    letter-spacing: 10px;

}
.welcomebox{
    border: 5px solid red;
    background-color: black;
    font-style: italic;
    color: white;
    font-size: 20px;
    font-weight: 800;
    border-radius: 20px;
    width: 15%;
    height: 50px;
    margin: 20px;
}